<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
      <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

      <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">
          <i class="fas fa-shopping-cart"></i> Shopping cart</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">

              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-user"></i>
                      User Management
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="#">User account</a>
                      <a class="dropdown-item" href="#">login</a>
                      <div class="dropdown-divider"></div>

                  </div>
              </li>

          </ul>

      </div>
  </nav>

  <br>
  <br>
  <hr>

  <div class="container">
      <div class="row">
          <div class="col-4">
              <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="https://i.ytimg.com/vi/jl2xNWeujZs/maxresdefault.jpg" alt="Card image cap">

                  <div class="card-body">
                      <h5 class="card-title">Gta 5</h5>

                      <p class="pull-right"><b>$12</b></p>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
              </div>
          </div>
          <div class="col-4">
              <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="https://i.ytimg.com/vi/jl2xNWeujZs/maxresdefault.jpg" alt="Card image cap">

                  <div class="card-body">
                      <h5 class="card-title">Gta 5</h5>

                      <p class="pull-right"><b>$12</b></p>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
              </div>
          </div>
          <div class="col-4">
              <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="https://i.ytimg.com/vi/jl2xNWeujZs/maxresdefault.jpg" alt="Card image cap">

                  <div class="card-body">
                      <h5 class="card-title">Gta 5</h5>

                      <p class="pull-right"><b>$12</b></p>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
              </div>
          </div>
      </div>
      <br>
      <br>

      <div class="row">
          <div class="col-4">
              <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="https://i.ytimg.com/vi/jl2xNWeujZs/maxresdefault.jpg" alt="Card image cap">

                  <div class="card-body">
                      <h5 class="card-title">Gta 5</h5>

                      <p class="pull-right"><b>$12</b></p>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
              </div>
          </div>
          <div class="col-4">
              <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="https://i.ytimg.com/vi/jl2xNWeujZs/maxresdefault.jpg" alt="Card image cap">

                  <div class="card-body">
                      <h5 class="card-title">Gta 5</h5>

                      <p class="pull-right"><b>$12</b></p>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
              </div>
          </div>
          <div class="col-4">
              <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="https://i.ytimg.com/vi/jl2xNWeujZs/maxresdefault.jpg" alt="Card image cap">

                  <div class="card-body">
                      <h5 class="card-title">Gta 5</h5>

                      <p class="pull-right"><b>$12</b></p>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
              </div>
          </div>
      </div>
  </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


  </body>
</html>
